// Document variables
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
$base-font-family: "Roboto Mono", serif;
$title-font-family: "Roboto Mono", serif;
$base-font-size:   16px;
$base-font-weight: 400;
$base-line-height: 1.5;
$spacing-unit:     30px;

$black   :  #0A0A0A;
$grey-90 :  #161616;
$grey-80 :  #2E2E2E;
$grey-70 :  #454545;
$grey-60 :  #7E7E7E;
$white   :  #F8F8F8;
$red50   :  #DC143C;
$primary50: #05D269;
